.container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.hex {
  position: absolute;
  width: 140px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: var(--hex-color, #6b7280); */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hex-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  pointer-events: none;
}

.pos0 {
  top: 0%;
  left: 30%;
}

.pos1 {
  top: 17%;
  left: 0%;
}

.pos2 {
  top: 17%;
  left: 60%;
}

.pos3 {
  top: 34%;
  left: 30%;
}

.pos4 {
  top: 51%;
  left: 0%;
}

.pos5 {
  top: 68%;
  left: 30%;
}

.pos6 {
  top: 51%;
  left: 60%;
}

@media (max-width: 500px) {
  .container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .hex {
    position: absolute;
    width: 104px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.span1,
.span2,
.span3,
.span4 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.span1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--line-start), var(--line-end));
}

.span2 {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, var(--line-start), var(--line-end));
}

.span3 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, var(--line-start), var(--line-end));
}

.span4 {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, var(--line-start), var(--line-end));
}

.group:hover .span1,
.group:active .span1 {
  opacity: 1;
  animation: span1-ani 2s linear infinite;
}

.group:hover .span2,
.group:active .span2 {
  opacity: 1;
  animation: span2-ani 2s linear infinite;
  animation-delay: 1s;
}

.group:hover .span3,
.group:active .span3 {
  opacity: 1;
  animation: span3-ani 2s linear infinite;
}

.group:hover .span4,
.group:active .span5 {
  opacity: 1;
  animation: span4-ani 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1-ani {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes span2-ani {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes span3-ani {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes span4-ani {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
