@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", "Ubuntu Mono", sans-serif;
  background-color: #eff6ff;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2b7fff;
  /* background-color: #53eafd; */
  border-radius: 30px;
  width: 3px;
}
